{{ $related := .Site.RegularPages.RelatedIndices . | first ( .Site.Params.numberOfRelatedItems | default 5 ) }}  
  {{ with $related }}
  <div class="related">
    <br />
    <h4>Related Posts</h4>
    <ul>
        {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a> — <small>{{ .PublishDate.Format "January 2, 2006" }}</small></li>
        {{ end }}
    </ul>
  </div>
{{ end }}
<!-- The following can be removed... -->
{{ if isset .Params "series" }}
{{$related := where .Site.RegularPages ".Params.series" "eq" .Params.series }}
  <h2 class="post_related">{{ T "series_posts" }}</h2>
  <ul>
    {{ range sort $related "Date" }}
    <li><a href="{{ .Permalink }}" class="nav-link" title="{{ .Title }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
{{ end }}
<!-- The above can be removed... -->